body {
  padding: 0;
  margin: 0;
}
// header and nav section start here
.header-And-nav {
  position: sticky;
  top: 0;
  z-index: 111111111111111;
  //   header-bar-main-div start

  .header-bar-main-div {
    // position: absolute;
    background: #7e33e0;
    width: 100%;
    height: 44px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    // hearder-contact-div
    .hearder-contact-div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-left: 50px;
      .header-mail-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        img {
          width: 13.33px;
          height: 10.67px;
        }

        p {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          /* identical to box height */

          color: #f1f1f1;
        }
      }
    }

    // header-loin-div start

    .header-loin-div {
      display: flex;
      gap: 10px;
      .header-other-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        img {
          width: 13.34px;
          height: 12.31px;
        }

        p {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          /* identical to box height */

          color: #f1f1f1;
        }

        select {
          background-color: #7e33e0;
          color: #f1f1f1;
          border: none;
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          /* identical to box height */

          color: #f1f1f1;
        }
        .login-img {
          width: 20px;
          height: 12px;
        }

        .cart-img {
          width: 35px;
          height: 27px;
        }
      }
    }
  }

  // nav-main-div start

  .nav-main-div {
    width: 100%;
    // height: 54px;
    background: #fff6fb;
    display: grid;
    grid-template-columns: 1.2fr 2.5fr 1.8fr;
    position: absolute;
    align-items: center;

    .logo-div {
      display: flex;
      align-items: end;
      justify-content: end;
      margin-right: 1.5%;
      h1 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 34px;

        color: #0d0e43;
      }
    }

    .nav-menu-main-div {
      margin-left: 3%;

      ul {
        display: flex;
        gap: 7%;
        li {
          list-style: none;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #0d0e43;

          img {
            width: 10px;
            height: 5px;
          }
        }

        .home-btn {
          color: #fb2e86;
        }
      }
    }

    .search-field {
      button {
        padding: 0;
        margin: 0;
        border: none;
        background: #fb2e86;
        display: flex;
        align-items: center;
        gap: 3px;
        width: 50%;
        input {
          width: 90%;
          height: 40px;
        }
        img {
          width: 20px;
          height: 20px;
          padding: 0 7px;
        }
      }
    }
  }
}

// <!-- main body section start here  -->

main {
  margin-top: 90px;

  // banner-section start here

  .banner-section {
    .banner-section-main-div {
      background: #f2f0ff;
      width: 100%;
      //   height: 387px;
      display: grid;
      grid-template-columns: 1fr 2fr 2.5fr;
      padding: 40px 0px 100px 0;
      .banner-light-img-div {
        display: flex;
        justify-content: end;
        img {
          height: 235px;
          width: 200px;
          margin-top: -40px;
        }
      }

      // bannar-text-main-div

      .bannar-text-main-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: #fb2e86;
        }

        h1 {
          font-family: "Josefin Sans";
          font-size: 43px;
          line-height: 2px;
          // letter-spacing: 0.015em;

          color: #000000;
        }

        button {
          background: #fb2e86;
          border-radius: 2px;
          border: none;
          width: 163px;
          height: 50px;
          font-family: "Josefin Sans";
          font-size: 17px;
          line-height: 20px;
          letter-spacing: 0.02em;

          color: #ffffff;
        }

        button:hover {
          background-color: #f1f1f1;
          border: 2px solid #fb2e86;
          color: #fb2e86;
        }
      }

      //   bannar-image-div

      .bannar-image-div {
        .img-div1 {
          position: relative;
          margin: 35px 0 0 70px;

          .img1 {
            position: absolute;
            width: 351px;
            height: 351px;
            // z-index: -1;
          }
        }

        .img-div2 {
          position: relative;
          margin: 55px 0 0 50px;
          .img1 {
            position: absolute;
            width: 351px;
            height: 351px;
            //   z-index: -1;
          }
        }

        .img-div3 {
          position: relative;
          margin: 65px 0 0 50px;
          .img1 {
            position: absolute;
            width: 351px;
            height: 351px;
            //   z-index: -1;
          }
        }
        .img-div4 {
          position: relative;
          margin: 0 0 0 350px;
          p {
            position: absolute;
            z-index: 1;
            text-align: end;
            margin-left: 13px;
            font-family: "Josefin Sans";
            font-size: 18px;

            color: #ffffff;
          }
          .img1 {
            position: absolute;
            width: 66.56px;
            height: 68.49px;
            //   z-index: -1;
          }
        }
      }
    }
  }

  //   featured-Products-section start here

  .featured-Products-section {
    // width: 100%;
    // height: 400px;
    margin: 20px 160px;
    .swiper {
      width: 100%;
      height: 100%;
      h1 {
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 42px;
        line-height: 49px;

        color: #1a0b5b;
      }
      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background-color: #f6f7fb;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .card {
            margin: 0;
            padding: 3px;
            width: 100%;
            img {
              padding-top: 35px;
              width: 178px;
              height: 178px;
            }

            .container {
              background: #ffffff;
              padding: 20px 0;
              h4 {
                text-align: center;
                font-family: "Lato";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 8px;

                color: #fb2e86;
              }
              p {
                font-family: "Josefin Sans";
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #151875;
              }
            }
          }

          .card:hover .container {
            background-color: #7e33e0;
            color: #ffffff;
            h4 {
              color: #ffffff;
            }
            p {
              color: #ffffff;
            }
          }
        }

        //   .swiper-slide img {
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //   }
      }

      .swiper-pagination {
        display: none !important;
      }
    }

    p {
      font-family: "Josefin Sans";
      font-size: 22px;
      line-height: 49px;
      text-align: center;
      color: #0b5b16;
    }
  }

  // leatest-Products-section start here

  .leatest-Products-section {
    margin: 20px 160px;

    .leatest-Products-header {
      h2 {
        font-family: "Josefin Sans";
        font-size: 42px;
        line-height: 49px;

        text-align: center;

        color: #151875;
      }
    }
    .tab-section-div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      button {
        border: none;
        background-color: white;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        // border-bottom: 2px solid cadetblue;

        /* pink */

        color: #fb2e86;
      }

      button:hover {
        background-color: cadetblue;
        color: #f2f0ff;
      }
    }

    .all-product-main-div {
      .sub-main-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 30px;
        gap: 30px;
        .card {
          margin: 0;
          padding: 4px;
          width: 100%;
          background-color: #f6f7fb;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid brown;
          img {
            padding-top: 35px;
            width: 178px;
            height: 178px;
          }

          .container {
            background: #ffffff;
            padding: 20px 0;
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            h4 {
              text-align: center;
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 8px;

              color: #fb2e86;
            }
            p {
              font-family: "Josefin Sans";
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #151875;
            }
          }
        }

        .card:hover {
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        }
      }
    }

p{
  font-family: "Josefin Sans";
    font-size: 22px;
    line-height: 49px;
    text-align: center;
    color: #0b5b16;
}

  }

  // What Shopex Offer! section start here 

  .shop-offer-section{

    margin: 20px 160px;
    h1{
      font-family: 'Josefin Sans';
font-size: 42px;
line-height: 49px;

text-align: center;

color: #151875;
    }

.shope-offer-main-div{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 30px;
  gap: 30px;
  .card {
    margin: 0;
    padding: 4px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #f6f7fb;
   
    img {
      padding-top: 35px;
      width: 77px;
      height: 50px;
    }

    .container {
      background: #ffffff;
      padding: 20px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        font-family: 'Josefin Sans';
font-size: 22px;
// line-height: 26px;



color: #151875;
      }
      p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        padding: 0 10px;
        text-align: center;
        margin-top: -10px;
        color: rgba(26, 11, 91, 0.3);
      }
    }
  }

}





  }



  // end
}
