body {
  padding: 0;
  margin: 0;
}

.header-And-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 111111111111111;
}
.header-And-nav .header-bar-main-div {
  background: #7e33e0;
  width: 100%;
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.header-And-nav .header-bar-main-div .hearder-contact-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: 50px;
}
.header-And-nav .header-bar-main-div .hearder-contact-div .header-mail-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header-And-nav .header-bar-main-div .hearder-contact-div .header-mail-div img {
  width: 13.33px;
  height: 10.67px;
}
.header-And-nav .header-bar-main-div .hearder-contact-div .header-mail-div p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #f1f1f1;
}
.header-And-nav .header-bar-main-div .header-loin-div {
  display: flex;
  gap: 10px;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div img {
  width: 13.34px;
  height: 12.31px;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #f1f1f1;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div select {
  background-color: #7e33e0;
  color: #f1f1f1;
  border: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #f1f1f1;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div .login-img {
  width: 20px;
  height: 12px;
}
.header-And-nav .header-bar-main-div .header-loin-div .header-other-div .cart-img {
  width: 35px;
  height: 27px;
}
.header-And-nav .nav-main-div {
  width: 100%;
  background: #fff6fb;
  display: grid;
  grid-template-columns: 1.2fr 2.5fr 1.8fr;
  position: absolute;
  align-items: center;
}
.header-And-nav .nav-main-div .logo-div {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 1.5%;
}
.header-And-nav .nav-main-div .logo-div h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: #0d0e43;
}
.header-And-nav .nav-main-div .nav-menu-main-div {
  margin-left: 3%;
}
.header-And-nav .nav-main-div .nav-menu-main-div ul {
  display: flex;
  gap: 7%;
}
.header-And-nav .nav-main-div .nav-menu-main-div ul li {
  list-style: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0d0e43;
}
.header-And-nav .nav-main-div .nav-menu-main-div ul li img {
  width: 10px;
  height: 5px;
}
.header-And-nav .nav-main-div .nav-menu-main-div ul .home-btn {
  color: #fb2e86;
}
.header-And-nav .nav-main-div .search-field button {
  padding: 0;
  margin: 0;
  border: none;
  background: #fb2e86;
  display: flex;
  align-items: center;
  gap: 3px;
  width: 50%;
}
.header-And-nav .nav-main-div .search-field button input {
  width: 90%;
  height: 40px;
}
.header-And-nav .nav-main-div .search-field button img {
  width: 20px;
  height: 20px;
  padding: 0 7px;
}

main {
  margin-top: 90px;
}
main .banner-section .banner-section-main-div {
  background: #f2f0ff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2.5fr;
  padding: 40px 0px 100px 0;
}
main .banner-section .banner-section-main-div .banner-light-img-div {
  display: flex;
  justify-content: end;
}
main .banner-section .banner-section-main-div .banner-light-img-div img {
  height: 235px;
  width: 200px;
  margin-top: -40px;
}
main .banner-section .banner-section-main-div .bannar-text-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .banner-section .banner-section-main-div .bannar-text-main-div p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #fb2e86;
}
main .banner-section .banner-section-main-div .bannar-text-main-div h1 {
  font-family: "Josefin Sans";
  font-size: 43px;
  line-height: 2px;
  color: #000000;
}
main .banner-section .banner-section-main-div .bannar-text-main-div button {
  background: #fb2e86;
  border-radius: 2px;
  border: none;
  width: 163px;
  height: 50px;
  font-family: "Josefin Sans";
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
main .banner-section .banner-section-main-div .bannar-text-main-div button:hover {
  background-color: #f1f1f1;
  border: 2px solid #fb2e86;
  color: #fb2e86;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div1 {
  position: relative;
  margin: 35px 0 0 70px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div1 .img1 {
  position: absolute;
  width: 351px;
  height: 351px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div2 {
  position: relative;
  margin: 55px 0 0 50px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div2 .img1 {
  position: absolute;
  width: 351px;
  height: 351px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div3 {
  position: relative;
  margin: 65px 0 0 50px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div3 .img1 {
  position: absolute;
  width: 351px;
  height: 351px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div4 {
  position: relative;
  margin: 0 0 0 350px;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div4 p {
  position: absolute;
  z-index: 1;
  text-align: end;
  margin-left: 13px;
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #ffffff;
}
main .banner-section .banner-section-main-div .bannar-image-div .img-div4 .img1 {
  position: absolute;
  width: 66.56px;
  height: 68.49px;
}
main .featured-Products-section {
  margin: 20px 160px;
}
main .featured-Products-section .swiper {
  width: 100%;
  height: 100%;
}
main .featured-Products-section .swiper h1 {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 42px;
  line-height: 49px;
  color: #1a0b5b;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #f6f7fb;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card {
  margin: 0;
  padding: 3px;
  width: 100%;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card img {
  padding-top: 35px;
  width: 178px;
  height: 178px;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card .container {
  background: #ffffff;
  padding: 20px 0;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card .container h4 {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 8px;
  color: #fb2e86;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card .container p {
  font-family: "Josefin Sans";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #151875;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card:hover .container {
  background-color: #7e33e0;
  color: #ffffff;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card:hover .container h4 {
  color: #ffffff;
}
main .featured-Products-section .swiper .swiper-wrapper .swiper-slide .card:hover .container p {
  color: #ffffff;
}
main .featured-Products-section .swiper .swiper-pagination {
  display: none !important;
}
main .featured-Products-section p {
  font-family: "Josefin Sans";
  font-size: 22px;
  line-height: 49px;
  text-align: center;
  color: #0b5b16;
}
main .leatest-Products-section {
  margin: 20px 160px;
}
main .leatest-Products-section .leatest-Products-header h2 {
  font-family: "Josefin Sans";
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #151875;
}
main .leatest-Products-section .tab-section-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .leatest-Products-section .tab-section-div button {
  border: none;
  background-color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* pink */
  color: #fb2e86;
}
main .leatest-Products-section .tab-section-div button:hover {
  background-color: cadetblue;
  color: #f2f0ff;
}
main .leatest-Products-section .all-product-main-div .sub-main-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 30px;
  gap: 30px;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card {
  margin: 0;
  padding: 4px;
  width: 100%;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid brown;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card img {
  padding-top: 35px;
  width: 178px;
  height: 178px;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card .container {
  background: #ffffff;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card .container h4 {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 8px;
  color: #fb2e86;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card .container p {
  font-family: "Josefin Sans";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #151875;
}
main .leatest-Products-section .all-product-main-div .sub-main-div .card:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
main .leatest-Products-section p {
  font-family: "Josefin Sans";
  font-size: 22px;
  line-height: 49px;
  text-align: center;
  color: #0b5b16;
}/*# sourceMappingURL=style.css.map */